* {
    padding: 0;
    box-sizing: border-box;
    margin: 0;
}

body {
    background-color: brown;
}

#form {
    display: flex;
    justify-content: center;
    border: 1px solid white;
    background-color: white;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    height: 200px;
    align-items: center;
    margin: 0px 30px;
}

#km {
    margin: 0 20px;
    border-color: red;
    color: red;
}

#km div {
    color: red;
}

#name {
    margin: 0 20px;
    border-color: red;
}

#name div {
    color: red;
    text-align: center;
}

#age {
        margin: 0 20px;
        border-color: red;
}

#age div {
    color: red;
}

#buttons {
    display: flex;
    justify-content: center;
    padding: 10px;
    background-color: white;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    margin: 0px 30px;
}

#b-1 , #b-2  {
    padding: 10px;
    color: rgb(0, 0, 0);
    background-color: rgb(205, 218, 96);
    margin: 0 10px;
}
